<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-8" style="margin-top: 80px">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <a href="#" class="btn btn-primary">Add Participants</a>
            </div>
            <div class="col-6">
              <a href="#" class="btn btn-danger">Remove Participants</a>
            </div>
          </div>
          <div class="row">
            <div class="col-4 offset-3 mt-5">
              <a href="#" class="btn btn-warning btn-lg">SHARE SCREEN</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 mt-5">
      <ul class="list-group">
        <li class="list-group-item">Advanced Settings</li>
        <li class="list-group-item"><a class="btn btn-light btn-block">Setting Details</a></li>
        <li class="list-group-item"><a class="btn btn-danger btn-block">Start/Stop Video</a></li>
        <li class="list-group-item"><a class="btn btn-dark btn-block">Group Chart</a></li>
      </ul>
    </div>
  </div>
</div>
