
<div class="container">
  <div class="row">
    <div class="col-md-3 offset-md-9 col-sm-6 offset-sm-3 mt-4">
      <!--            <form action="POST" method="post" enctype="application/x-www-form-urlencoded">-->
      <!--                <label for="video">VIDEO PRESENTATION</label>-->
      <!--                <input type="file" accept="" id="video" class="form-control btn-danger">-->
      <!--            </form>-->
      <a href="#" class="btn btn-success btn-block">RECORD VIDEO</a>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-9 mt-5">
      <!--            <form action="" method="post" enctype="application/x-www-form-urlencoded">-->
      <!--                <label for="pdf">DOCUMENT PRESENTATION</label>-->
      <!--                <input type="file" accept="" id="pdf" class="form-control btn-primary">-->
      <!--            </form>-->
      <!--            <a href="#" class="btn btn-outline-danger btn-block">VIDEO SETUP</a>-->
      <div class="row mb-3">
        <div class="col-md-6">
          <h5 class="text-center">Video Presentation</h5>
          <iframe src="" height="200" width="400"  loading="lazy" alt="url here" class="btn-outline-danger"></iframe>
        </div>
        <div class="col-md-6">
          <h5 class="text-center">Document Presentation</h5>
          <iframe src="" style="width: 400px;height: 200px;"  class="btn-outline-primary"></iframe>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h5 class="text-center">Participant 1</h5>
          <div class="card border-primary">
            <img src="assets/images/logo.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Username</h5>
              <p class="card-text">Meeting Time</p>
              <p class="card-text">User Info</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h5 class="text-center">Participant 2</h5>
          <div class="card border-primary">
            <img src="assets/images/logo.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Username</h5>
              <p class="card-text">Meeting Time</p>
              <p class="card-text">User Info</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h5 class="text-center">Participant 3</h5>
          <div class="card border-primary">
            <img src="assets/images/logo.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Username</h5>
              <p class="card-text">Meeting Time</p>
              <p class="card-text">User Info</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h5 class="text-center">Participant 4</h5>
          <div class="card border-primary">
            <img src="assets/images/logo.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Username</h5>
              <p class="card-text">Meeting Time</p>
              <p class="card-text">User Info</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-5">
      <a href="#" class="btn btn-outline-danger btn-block mt-5">GROUP CHART</a>
    </div>
  </div>
</div>
