<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Featured
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="#" class="nav-link">Setting Conference</a></li>
          <li class="list-group-item">
            <a href="#" class="nav-link">General</a></li>
          <li class="list-group-item">
            <a href="#" class="nav-link">Appearance</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-header">
          VIDEO SETTINGS
        </div>
        <div class="card-body">
          <p class="card-title">Video settings goes here..</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          AUDIO SETTINGS
        </div>
        <div class="card-body">
          <p class="card-title">Audio settings goes here..</p>
        </div>
      </div>
    </div>
  </div>
</div>
