<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="home">Conferences</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home"><span class="fa fa-home mr-1"></span>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="conference-setup"><span class="fa fa-video-camera mr-1"></span>Setup Conference</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="presentations"><span class="fa fa-video-camera mr-1"></span>Presentations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="settings"><span class="fa fa-cog mr-1"></span>Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link" routerLink="login"><span class="fa fa-user mr-1"></span>Login</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link" routerLink="register"><span class="fa fa-user-plus mr-1"></span>Sign up</a>
        </li>
        <span class="navbar-text" *ngIf="authService.isLoggedIn()">
          Welcome {{authService.currentUser()}} |
        </span>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link" style="cursor: pointer;" (click)="onLogout()"><span class="fa fa-long-arrow-right mr-1"></span>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
